
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Poppins", sans-serif;
        /*font-family: 'Roboto', sans-serif;*/

    }

    body {
        font-size: 16px;
        background-color:white;
            /*url('../../Images/welding1.2.jpg');*/
    }

    .w3-half img {
        margin-bottom: -6px;
        margin-top: 16px;
        opacity: 0.8;
        cursor: pointer
    }

        .w3-half img:hover {
            opacity: 1
        }
    #mySidebar {
        background-image: url('../../Images/colorsimg2.jpg');
    }


        
</style>

<body>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-2019-bluestone w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"id="mySidebar">
        <br>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
        <div class="w3-container">
            <h3 class="w3-padding-64"><b>My<br>WebSite</b></h3>
        </div>
        <div class="w3-bar-block">
            <a href="/Home/Index" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
            <a href="#pics" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Pics</a>
            <a href="#html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">HTML</a>
            <a href="#css" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">CSS</a>
            <a href="#javascript" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Javascript</a>
            <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Yhteystiedot</a>
            <a href="https://www.w3schools.com/default.asp"target="_blank" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">W3Schools</a>
            <a href="https://www.careeria.fi"target="_blank" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Careeria</a>
        </div>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
        <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
        <span>MyWebSite</span>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="pics">
            <h1 class="w3-jumbo"><b> MyWebSite </b></h1>
            <h1 class="w3-xxxlarge w3-text-red"><b>Pics.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
        </div>

        <!-- Photo grid (modal) -->
        <div class="w3-row-padding">
            <div class="w3-half">
                <img src="~/images/splash1.2.jpg" style="width:100%" onclick="onClick(this)" alt="splash">
                <img src="~/images/welding1.2.jpg" style="width:100%" onclick="onClick(this)" alt="welding1">
                <img src="~/images/nature1.2.jpg" style="width:100%" onclick="onClick(this)" alt="nature1">
            </div>

            <div class="w3-half">
                <img src="~/images/nature2.2.jpg" style="width:100%" onclick="onClick(this)" alt="nature2">
                <img src="~/images/nature3.2.jpg" style="width:100%" onclick="onClick(this)" alt="nature3">
                <img src="~/images/welding2.2.jpg" style="width:100%" onclick="onClick(this)" alt="welding2">
            </div>
        </div>

        <!-- Modal for full size images on click-->
        <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
            <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
            <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                <img id="img01" class="w3-image">
                <p id="caption"></p>
            </div>
        </div>

        <!-- Services -->
        <div class="w3-container" id="html" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>HTML.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>HTML ja mihin sitä käytetään?</p>
            <p>
                HTML on tehty universaaliksi julkaisukieleksi, jota tietokoneet ja niissä käytetyt ohjelmat ymmärtävät.
                HTML:n avulla sisällöntuottajat saavat julkaistua WWW:ssä dokumentteja verkossa luettavaksi.
                HTML-komentojen avulla määritellään dokumentin rakenne.
                Sisältö voi olla tekstiä, taulukoita, linkkejä, kuvia, videota, ääntä, jne.
                Merkittävä HTML:n ominaisuus on myös lomakkeet, jotka ovat usein yhteydessä tietokantoihin tai muihin taustajärjestelmiin,
                mahdollistaen näin interaktiivisen toiminnan kuten hakujen suorittamisen ja ostosten tekemisen.

            </p>
            <a href="https://www.w3schools.com/html/default.asp"><button @*type="submit"*@ class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Täältä löydät HTML harjoituksia</button></a>

        </div>

        <!-- Designers -->
        <div class="w3-container" id="css" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>CSS.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>Mitä CSS tyylisivut ovat?.</p>
            <p>
                CSS -tyylisivut määrittelevät sen, miltä dokumentit näyttävät kuvaruudulla, tulostettuna tai jopa ääneen lausuttuna.
                W3C on aktiivisesti kannustanut tyylisivujen käyttöä Wepissä aina World Wide Web Consortiumin perustamisesta, jo vuodesta 1994 lähtien.
                Style Activity -ryhmä on tuottanut lukuisia W3C:n suosituksia (CSS1, CSS2, CSS3, XPath, XSLT).
                Liittämällä tyylisivun www-dokumenttiin (esim. HTML tai XML) sivujen tekijät ja lukijat voivat vaikuttaa dokumenttien ulkoasuun merkittävästi monipuolisemmin kuin pelkästään HTML-komentoja käyttämällä alustariippumattomuuden kärsimättä.

                Sivun kehittäjän on helpoin tutustua tyylisivuihin käyttämällä nykyaikaisia selaimia kuten:
                Firefox, Safari, Chrome, Opera, Edge ja Internet Explorer ja tutkia HTML sekä CSS koodia selaimen kehittäjätyökaluilla (developer tools).


                Tyylisivuista on tunnettu käytettävyysasiantuntija Jacob Nielsen sanonut mm. seuraavaa:
                “Hopefully, future Web innovations will emulate the example set by the Web Consortium in its work on CSS”.
            </p>

            <a href="https://www.w3schools.com/css/default.asp"><button @*type="submit"*@ class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Täältä löydät CSS harjoituksia</button></a>
        </div>

        <!-- The Team -->
        @*<div class="w3-row-padding w3-grayscale">
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="/w3images/team2.jpg" alt="John" style="width:100%">
                    <div class="w3-container">
                        <h3>Html</h3>
                        <p class="w3-opacity">CEO & Founder</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
                    <div class="w3-container">
                        <h3>Css</h3>
                        <p class="w3-opacity">Designer</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="/w3images/team3.jpg" alt="Mike" style="width:100%">
                    <div class="w3-container">
                        <h3>Javascript</h3>
                        <p class="w3-opacity">Architect</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                    </div>
                </div>
            </div>
        </div>*@

        <!-- Packages / Pricing Tables -->
        <div class="w3-container" id="javascript" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>JAVASCRIPT.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>
                JavaScript on kevyt skriptikieli jota kutsutaan joskus myös leikillisesti webmasterin ohjelmointikieleksi. JavaScriptiä käytetään pääosin web-sivuilla parantamassa sivuston käyttökokemusta.
                JavaScriptin avulla voi mm. manipuloida HTML-dokumentin rakennetta ja ulkoasua sekä tarkistaa HTML-lomakkeiden tietoja ennen kuin ne lähetetään palvelimelle.

                Modernit selaimet voivat JavaScriptin avulla myös keskustella web-palvelimen kanssa.
                Tällaisia uudentyyppisiä sovelluksia kutsutaan yleisesti Ajax-sovelluksiksi.
                Ajax-sovelluksissa tiedon noutaminen ja lähettäminen tapahtuu asynkronisesti taustalla, jolloin selain on koko ajan aktiivisesti käytettävissä.


                JavaScript -kielen kehitti aikoinaan Netscape -yhtiön palveluksessa ollut Brendan Eich, ja hän on edelleen kielen kehityksessä mukana.
            </p>
            <a href="https://www.w3schools.com/js/default.asp" target="_blank"><button @*type="submit"*@ class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Javascript harjoituksia</button></a>
            <p><b>Esimerkkejä Html, Css ja Javascript koodeista</b>:</p>
        </div>

        @*<img src="~/images/nature1.jpg" style="width:100%" onclick="onClick(this)" alt="nature1">*@
        <!-- The Team -->
        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="~/Images/HtmlSnip.PNG" style="width:100%" onclick="onClick(this)" alt="Html koodi">
                    <div class="w3-container">
                        <h3>Html</h3>
                        @*<p class="w3-opacity">HTML koodi</p>*@
                        <p>Tästä lähdetään rakentamaan Web-sivua, ns.ensimmäinen vaihe.</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="~/Images/CssSnip.PNG" style="width:100%" onclick="onClick(this)" alt="Css koodi">
                    <div class="w3-container">
                        <h3>Css</h3>
                        @*<p class="w3-opacity">Designer</p>*@
                        <p>Css koodilla luodaan Web-sivulle tyyliä.</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="~/Images/JavascriptSnip.PNG" style="width:100%" onclick="onClick(this)" alt="Javascript koodi">
                    <div class="w3-container">
                        <h3>Javascript</h3>
                        @*<p class="w3-opacity">Architect</p>*@
                        <p>Javascriptillä luodaan Web-sivulle funktioita.</p>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="w3-row-padding">
            <div class="w3-half w3-margin-bottom">
                <ul class="w3-ul w3-light-grey w3-center">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
                    <li class="w3-padding-16">Floorplanning</li>
                    <li class="w3-padding-16">10 hours support</li>
                    <li class="w3-padding-16">Photography</li>
                    <li class="w3-padding-16">20% furniture discount</li>
                    <li class="w3-padding-16">Good deals</li>
                    <li class="w3-padding-16">
                        <h2>$ 199</h2>
                        <span class="w3-opacity">per room</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
                    </li>
                </ul>
            </div>

            <div class="w3-half">
                <ul class="w3-ul w3-light-grey w3-center">
                    <li class="w3-red w3-xlarge w3-padding-32">Pro</li>
                    <li class="w3-padding-16">Floorplanning</li>
                    <li class="w3-padding-16">50 hours support</li>
                    <li class="w3-padding-16">Photography</li>
                    <li class="w3-padding-16">50% furniture discount</li>
                    <li class="w3-padding-16">GREAT deals</li>
                    <li class="w3-padding-16">
                        <h2>$ 249</h2>
                        <span class="w3-opacity">per room</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-red w3-padding-large w3-hover-black">Sign Up</button>
                    </li>
                </ul>
            </div>
        </div>*@

        <!-- Contact -->
        <div class="w3-container" id="contact" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Yhteystiedot.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>Täältä voi kysellä kaikenlaista lisätietoa! :)</p>
            <form action="/action_page.php" target="_blank">
                <div class="w3-section">
                    <label>Nimi</label>
                    <input class="w3-input w3-border" type="text" name="Name" required>
                </div>
                <div class="w3-section">
                    <label>Sähköposti</label>
                    <input class="w3-input w3-border" type="text" name="Email" required>
                </div>
                <div class="w3-section">
                    <label>Viesti</label>
                    <input class="w3-input w3-border" type="text" name="Message" required>
                </div>
                <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Lähetä viesti</button>
            </form>
        </div>

        <!-- End page content -->
    </div>

    <!-- W3.CSS Container -->
    <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

    <script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
    </script>

</body>

