
@{
    ViewBag.Title = "Time";
}
<div class="jumbotron">

    <h2>My First JavaScript</h2>

    <button type="button"
            onclick="document.getElementById('Table').innerHTML = Date()">
        Date and Time.
    </button>

    <p id="Table"></p>

</div>